@import "../index.scss";

.AddChannel {
  background: linear-gradient(to bottom, rgb(236, 233, 233), white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  .AddChannel_icon-add {
    margin-right: 30px;
    width: 20px;
    height: 20px;
    color: rgba(0, 0, 0, 0.513);
  }
  .AddChannel_icon-add:hover {
    color: black;
    cursor: pointer;
  }
  input {
    width: 100%;
    padding: 15px 0;
    background-color: transparent;
    border: none;
    color: black;
    font-family: $font;
    font-size: 16px;
  }
  input::placeholder {
    color: black;
  }
  input:focus {
    outline: none;
  }
}
