@import "../index.scss";

.Form {
  background: rgba(255, 255, 255, 0.541);
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  color: black;
  font-family: $font;

  h2 {
    font-size: 30px;
  }
  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      font-size: 1.2rem;
    }
    input {
      height: 40px;
      background-color: rgba(0, 0, 0, 0.157);
      border: none;
      padding: 0 20px;
      color: black;
      font-family: $font;
    }
    input:focus,
    input:-webkit-autofill {
      background-color: none;
      outline: none;
    }
  }
  h4 {
    font-size: 1rem;
    cursor: pointer;
    color: $green;
  }
  button {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(91, 197, 144), rgb(81, 159, 179));
    color: $white;
    border: none;
    font-family: $font;
    cursor: pointer;
  }
  .button-google {
    background: linear-gradient(to right, rgb(84, 11, 167), rgb(22, 38, 128));
    color: $white;
  }
}

@media screen and (max-width: 1000px) {
  .Form {
    width: 320px;
    // padding: 0px;
  }
}
