@import "../index.scss";
.Search {
  background: linear-gradient(to bottom, rgb(236, 233, 233), white);
  width: 100%;
  position: relative;
  height: 60px;
  .Search_container {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    .Input {
      width: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.103);
      border: none;
      color: black;
      padding: 0px;
      transition: 1s all ease;
    }
    .Active {
      padding: 20px;
      width: 85%;
    }
    button {
      width: 40px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      color: black;
    }
  }

  .Options {
    position: absolute;
    top: 60px;
    left: 100%;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: $font;
    background: linear-gradient(to bottom, rgb(236, 233, 233), white);
    transition: 1s all ease;
    li {
      background-color: rgba(255, 255, 255, 0.657);
      height: 60px;
      padding: 0 20px;
      color: black;
      display: flex;
      align-items: center;
      border-bottom: 2px solid rgba(22, 22, 22, 0.644);
    }
  }
  .None {
    left: 0;
  }
}
