// babel/core -> Modern JS compatible with all navs
// babel-loader -> Loader of Webpack

{
  // ECMAscript and JSX
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ],

  // To use sintax class in React
  "plugins": [["@babel/plugin-proposal-class-properties"]]
}
