@import "../index.scss";

.Chat {
  background: linear-gradient(to bottom, rgb(236, 233, 233), white);
  width: 100%;
  margin: 0 auto;
  color: black;
  display: grid;
  grid-auto-rows: 60px calc(100vh - 140px) 80px;
  grid-column: 2/3;

  .Chat_name {
    display: flex;
    padding: 0 20px;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.466);
    justify-content: space-between;
    h2 {
      font-family: $font;
    }
    button {
      border: none;
      display: none;
      #Chat_name-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
  .Chat_container {
    padding: 0 25px;
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 700px) {
  .Chat {
    grid-column: 1/-1;
    .Chat_name {
      button {
        display: block;
      }
    }
  }
}
