@import "../index.scss";

.Contact {
  background: linear-gradient(to bottom, rgb(236, 233, 233), white);
  overflow: hidden;
  h2 {
    color: black;
    font-family: $font;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.376);
  }
}

@media screen and (max-width: 700px) {
  .Contact {
    grid-template-columns: 1/2;
    position: absolute;
    width: 0;
    height: 100vh;
    transition: 1s all ease;
  }
  .Contact_active {
    width: 60%;
  }
}
