* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background: linear-gradient(to top, rgb(241, 241, 241), rgb(235, 235, 235));
$green: #95c774;
$gray: #110e2e;
$white: #f8f1ff;
$blue: rgb(5, 11, 37);

@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

$font: "Public Sans", sans-serif;

body {
  background: $background;
}
