* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$green: #31ff6f;
$purple: rgb(89, 40, 250);
$gray-dark: #343f46;
$gray-light: #3c3c3c;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

$font: "Public Sans", sans-serif;
