.Chat {
  max-width: 800px;
  background-color: rgb(1, 2, 8);
  margin: 0 auto;
  height: 100vh;
  color: white;
  display: grid;
  grid-auto-rows: 1fr 80px;
  .Chat_container {
    padding: 0 25px;
  }
}
