.Chat {
  background-color: rgb(1, 2, 8);
  width: 100%;
  margin: 0 auto;
  color: white;
  display: grid;
  grid-auto-rows: 1fr 80px;
  grid-column: 2/3;
  .Chat_container {
    padding: 0 25px;
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
}
